<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="mysql">
    <environment id="mariadb">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:3306/shuttle_management_system"/>
        <property name="username" value="root"/>
        <property name="password" value="198058"/>
      </dataSource>
    </environment>
    <environment id="mysql">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/badgateway?serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="wfy258789"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <package name="se.zust.badgateway.mapper"/>
  </mappers>
</configuration>
